<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_name %><br>
    <%= f.text_field :task_name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :assigned_resource %><br>
    <%= f.text_field :assigned_resource %>
  </div>

  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.collection_select :project_id, Project.order(:project_name),:id,:project_name, include_blank: true %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
